@import '../../../../shared/styles/variables.scss';

.card {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  border-radius: 24px;
  overflow: hidden;
  background-color: #000000;

  @include w-600 {
    height: 98px;
    border-radius: 11px;
  }

  &:hover {
    & .card__img {
      transform: scale(1.2);
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: transform 2s;
  }

  &__text {
    position: relative;
    width: 100%;
    padding: 9px 12px 23px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 1;

    @include w-600 {
      padding: 5px;
    }

    &_title {
      margin-bottom: 5px;
      font-size: 24px;
      font-weight: 700;
      line-height: 100%;

      @include w-600 {
        margin-bottom: 3px;
        font-size: 14px;
      }

      &_first {
        position: relative;
        margin-right: 6px;
        padding-right: 6px;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          width: 1px;
          height: 11px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #4d9b19;
        }
      }
    }

    &_description {
      font-size: 11px;
      font-weight: 300;
      line-height: 100%;

      @include w-600 {
        font-size: 5px;
      }
    }
  }
}
