@import '../../../../../../shared/styles/variables.scss';

.navigation {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px 0;

  &__content {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    @include w-600 {
      gap: 10px;
    }
    @include w-480 {
      flex-direction: column;
      align-items: flex-start;
    }
    
    a {
      color: #000000;
      opacity: 0.5;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    span {
      color: #000000;
    }
  }
}