html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'sans-serif';
  /* overflow-x:hidden; */
}

.catalog_block {
  background-image: url(../../../image/back_category.svg);
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

.text_catalog {
    display: inline-block;
    padding-top: 45px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 64px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .text_catalog {
    display: inline-block;
    padding-top: 45px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}
}


  .btn_search {
    width: 111px;
    height: 44px;
    background: #3D7716;
    border-radius: 24px;

  }

  .text_btn_search {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .block_btn_sees {
    text-align: center;
  }

  .btn_sees {
    text-align: center;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 24px;
    margin-top: 60px;
  }

  .container_cat_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div_card_allProject {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .two_str {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .three_str {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .four_str {
    display: flex;
    justify-content: center;
  }

  .img_card_allProject,
  .img_card_comfort,
  .img_card_compact,
  .img_card_bernhouse,
  .img_card_mansard,
  .img_card_brick,
  .img_card_modern,
  .img_card_classic,
  .img_card_two,
  .img_card_one {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
  }

.form-control {
    background: #FFFFFF;
    opacity: 0.7;
    border-radius: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.form_filter_cat {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    background: none;
}

.div_card_comfort {
  padding-right: 5px;
}

.div_card_bernhouse {
  padding-right: 5px;
}

.div_card_mansard {
  padding-right: 5px;
}

.div_card_modern {
  padding-right: 5px;
}

.div_card_classic {
  padding-right: 5px;
}

.div_card_two {
  padding-right: 5px;
}

