@import '../../shared/styles/variables.scss';

.catalog {
  padding-top: 198px;

  @include w-1024 {
    padding-top: 150px;
  }

  @include w-600 {
    padding-top: 78px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;

    @include w-600 {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }

  &__main_content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include w-800 {
      gap: 10px;
    }
  }

  &__left_part {
    width: 100%;
  }

  &__order {
    margin-bottom: 20px;
  }

  &__tab {
    margin-bottom: 25px;
    gap: 25px;
    flex-wrap: wrap;

    &_link {
      padding: 0;
      font-size: 16px;
      color: #ffffff;
      opacity: 0.5;
      transition: opacity 0.3s;

      @include w-600 {
        font-size: 12px;
      }

      &.active {
        opacity: 1;
        color: #ffffff;
      }

      &:hover,
      &:focus {
        color: #ffffff;
        opacity: 1;
      }
    }
  }

  &__dropdown {
    margin-bottom: 25px;
    &_toggler {
      display: block;
      position: relative;
      cursor: pointer;
    }

    &_item {
      display: block;
      width: 100%;
      white-space: nowrap;
      background-color: transparent;
      padding: 10px;
      &:last-child{
        border-radius: 0 0 10px 10px;
      }
      &:first-child{
        border-radius: 10px 10px 0 0;
      }
      &:hover {
        background-color: #112205;
      }
      &.active {
        background-color: #112205;
      }
    }

    &_menu {
      border-radius: 10px;
      padding: 5px;
      position: absolute;
      width: 160px;
      height: auto;
      background-color: rgb(60, 96, 84);
      z-index: 2;
      top: 40px;
      left: 40px;
      display: none;
      span {
        padding: 8px 10px;
        :hover {
          background-color: #112205;
          opacity: .8;
        }
      }
    }

    &_btn {
      padding: 0;
      background-color: transparent !important;
      border: none;

      @include w-600 {
        font-size: 12px;
      }

      &::after {
        content: unset;
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 13px;
    }

    &_order_asc {
      width: 34px;
      height: 34px;
      padding: 0;
      border: none;
      background-color: transparent;
      color: transparent;
      font-size: 0;
      background-image: url('/assets/images/asc.png');
      background-size: contain;
      background-repeat: no-repeat;

      @include w-600 {
        width: 20px;
        height: 20px;
      }
    }
    &_order_desc {
      width: 34px;
      height: 34px;
      padding: 0;
      border: none;
      background-color: transparent;
      color: transparent;
      font-size: 0;
      background-image: url('/assets/images/desc.png');
      background-size: cover;

      @include w-600 {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.custom {
  cursor: pointer !important;
}
.selected {
  background-color: #112205;
  color: #ffffff;
}

.show {
  display: block;
  cursor: pointer;
}
