html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'sans-serif';
  overflow-x:hidden;
}

.main_footer {
    background-image: url(../../../image/image-bg-footer.png);
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.content_footer {
    display: flex;
    justify-content: space-between;
}

.txt_h2 {
    padding-top: 50px;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}

.txt_inf {
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.5;
}

.line_horizontal {
    border: 1px solid #FFFFFF;
}

.addr {
    padding-top: 30px;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.5;
}

.img_logo {
    position: relative;
    text-align: center;
}

.social_network {
    position: relative;
    text-align: center;
    padding-top: 30px;
}
