@import '../../../../shared/styles/variables.scss';

.request {
  background-image: url('/assets/images/landing/more_house_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  position: relative;
  height: 593px;

  @include w-600 {
    height: 260px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 0;
    height: 0;
    border-bottom: 120px solid #112205;
    border-left: 100vw solid transparent;
    z-index: 1;

    @include w-600 {
      border-bottom: 80px solid #112205;
    }
    @include w-480 {
      border-bottom: 50px solid #112205;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include w-1024 {
      height: 100%;
    }

    @include w-600 {
      align-items: flex-start;
    }
  }

  &__left_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include w-1024 {
      width: 100%;
    }

    @include w-600 {
      padding-top: 25px;
    }
  }

  &__title {
    font-size: 48px;
    color: #000000;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    white-space: break-spaces;

    @include w-1024 {
      font-size: 36px;
      text-align: center;
      white-space: unset;
      max-width: 769px;
    }

    @include w-600 {
      font-size: 32px;
    }
  }

  &__link {
    width: fit-content;
    padding: 16px 32px;
    font-size: 32px;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 24px;

    &:hover {
      color: #000000;
    }

    @include w-800 {
      padding: 8px 16px;
      font-size: 16px;
    }
    @include w-600 {
      z-index: 2;
    }
  }

  &__home_img {
    position: relative;
    object-fit: cover;

    @include w-1024 {
      display: none;
    }
  }
}
