html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'sans-serif';
}

.about_container {
    background: #112205;
}

.con_con {
    display: flex;
}

@media screen and (max-width: 768px) {
    .con_con {
        display: block;
    }
}

.txt_about {
    padding-left: 5%;
    margin-top: 25px;
    background: #091203;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
}

.txt_about_con {
    padding-left: 5%;
    padding-right: 5%;
}

.txt_about_h2 {
    margin-top: 25px;
    font-weight: 800;
    font-size: 24px;
    color: #FFFFFF;
}

.txt_about_p {
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}

.div_img_about {
    margin-top: 25px;
    padding-right: 25px;
}

.img_img_about {
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1180px) {
    .img_img_about {
        display: none;
    }

    .txt_about_con {
        text-align: center;
    }

    .txt_about {
        text-align: center;
    }

    .con_con {
        text-align: center;
    }

    .txt_about_con {
        padding-left: 0;
        padding-right: 0;
    }

    .txt_about {
        padding-left: 0;
        margin-top: 25px;
        background: #091203;
        font-weight: 800;
        font-size: 48px;
        color: #FFFFFF;
    }
}

.header_ab_about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F201C;
    opacity: 0.6;
  }

  .main_header_about,
  .category_header_about,
  .about_header_about {
    margin: 0 100px;
    padding: 17px 0 22px 0;
  }

  .main_header_link_about {
    color: white;
    text-decoration: none;
  }

  .category_header_link_about {
    color: white;
    text-decoration: none;
  }

  .about_header_link_about {
    color: white;
  }

  @media (max-width: 1150px) {
    .header_ab_about {
      display: block;
      text-align: center;
      margin: 0;
      opacity: 0.6;
    }
  }


  @media screen and (max-width: 320px) {
    .img_lologo {
      width: 140px;
      height: 46px;
    }
  }
