html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'sans-serif';
}

.main_body {
    background: #112205;
}

.main_container_card_pages {
    background: #112205;
    height: 100%;
}

.header_card {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    opacity: 0.8;
}

.carousel_block {
    padding-top: 50px;
}

.div_container {
    padding-top: 50px;
}

.haracteristic {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    background: black;
    opacity: 0.6;
    height: 100%;
}

.txt_haracteristic_h1 {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.txt_haracteristic_p {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.txt_opis {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.block_one {
    padding: 50px 40px 50px 20px;
    /* padding-right: 40px; */
}

.block_two {
    padding: 50px 20px 50px 40px;
}

.plan {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}

.block_btn_sees_card {
    text-align: center;
}

.btn_sees_card {
    text-align: center;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 24px;
    margin-top: 60px;
}

.img_plan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_img_plan {
    object-fit: cover;
    width: 75%;
    height: 40%;
    transition: all 0.4s ease-in-out;
}

.btn_back {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.btn_text_catalog {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    opacity: 0.5;
    padding-left: 5px;
    margin-bottom: 0rem;
}

.img_back {
    width: 25px;
    height: 25px;
}

.category_header_card {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.about_header_link_har {
    border: none;
    background: none;
}

.modal_form {
    position: relative;
    text-align: center;
}

.modal_name {
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.input_name {
    width: 100%;
    background: none;
    border-radius: 24px;
    margin-top: 20px;
    padding-left: 10px;
}

.btn_card_data {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 24px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.btn_submit_zayvk {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 24px;
}

.price_border {
    display: flex;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    margin-bottom: 20px;
}

.txt_price {
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0rem;
}

@media screen and (max-width: 934px) {
    .header_card {
        display: block;
        text-align: center;
    }
    .btn_back {
        display: block;
        text-decoration: none;
        align-items: center;
    }
    .category_header_card {
        display: block;
        align-items: center;
        padding-top: 20px;
    }

    .img_back {
        display: none;
    }
}

@media screen and (max-width: 555px) {
    .haracteristic {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: black;
        opacity: 0.6;
        height: 100%;
    }

}

@media screen and (max-width: 344px) {
    .img_lologo {
      width: 140px;
      height: 46px;
    }
  }

.img_slider {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
