html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'sans-serif';
}

.dropdown_menu_block_cat {
  background: #112205;
}

.main_container_category {
    background: #112205;
    height: 100%;
}

.m_c_container {
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  flex-wrap: wrap;
  background: #112205;
}

@media screen and (max-width: 1884px) {
  .m_c_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #112205;
  }
}

@media screen and (max-width: 1267px) {
  .m_c_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #112205;
  }
}


.txt_catalog {
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 20px;
}

.container_card_category {
  background: #112205;
  padding-bottom: 20px;
}

.first_card_category {
  width: 460px;
  height: 250px;
  padding: 120px 20px 20px 20px;
}

.img_img_title {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 270px;
  border-radius: 24px;
}

  .container_card_category {
    display: inline-block;
    background: #112205;
    padding: 20px;
  }

.background_card {
  background: #000000;
  opacity: 0.5;
  border-radius: 0px 0px 24px 24px;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: none;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.text_card {
  color: #FFFFFF;
}

@media screen and (max-width: 511px) {
  .img_img_title {
    width: auto;
  }
}

.dropdown_cat_con {
  background: #FFFFFF;
  opacity: 0.7;
  border-radius: 24px;
  width: 180px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.dropdown_cat_button {
  background: transparent;
  border: none;
  font-size: 16px;
  text-align: center;
  color: #000000;
  outline: none;
  cursor: pointer;
}

.dropdown_cat_menu {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.dropdown_cat_menu:hover {
  background-color: #F5F5F5;
}

.dropdown_cat_con:hover svg {
  transform: rotate(0deg);
}

option {
  background: #FFFFFF;
  opacity: 0.7;
  border-radius: 24px;
}

.form_filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 40px;
  background: #112205;
}

.form-control {
  background: #FFFFFF;
  opacity: 0.7;
  border-radius: 24px;
}

.btn,
.btn-primary {
  background: #3D7716;
  border-radius: 24px;
  color: #000000;
  font-weight: 300;
}

.btn-primary {
  background: #3D7716;
  border-radius: 24px;
  font-weight: 300;
  --bs-btn-color: #000000;
  --bs-btn-bg: #3D7716;
  --bs-btn-border-color: #3D7716;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #3D7716;
  --bs-btn-hover-border-color: #3D7716;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3D7716;
  --bs-btn-active-border-color: #3D7716;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #3D7716;
  --bs-btn-disabled-border-color: #3D7716;
  padding-left: 30px;
  padding-right: 30px;
}

.form-control {
  background: #FFFFFF;
  opacity: 0.7;
  border-radius: 24px;
  padding-left: 30px;
  padding-right: 30px;
}

.filter {
  display: flex;
  padding-top: 5px;
}

.form-label {
  color: #B8BDB4;
  margin-bottom: 0rem;
}

.filter_btn {
  display: flex;
  align-items: end;
}

@media screen and (max-width: 426px) {
  .filter_btn {
    display: flex;
    padding-top: 10px;
    align-items: end;
  }
}
