@import '../../../../shared/styles/variables.scss';

.filter {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 366px;
  padding: 40px 30px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.31);

  @include w-1440 {
    height: fit-content;
  }

  @include w-800 {
    padding: 26px 10px;
  }

  &__form {
    width: 100%;

    input, select {
      width: 100%;
      padding: 12px 24px;
      background-color: transparent;
      border: 1px solid #ffffff;
      border-radius: 24px;
      color: #ffffff;

      &::placeholder {
        color: #ffffff;
      }

      &:focus {
        outline: none;
      }

      @include w-600 {
        padding: 6px 12px;
        font-size: 9px;
      }
    }

    button {
      width: 100%;
      padding: 12px 19px;
      background-color: transparent;
      border-radius: 24px;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-size: 16px;
      line-height: 100%;
      font-weight: 300;
      white-space: nowrap;
      transition: background-color 0.3s;

      &.active {
        background-color: #3D7716;
      }

      @include w-600 {
        border-radius: 12px;
        padding: 6px 10px;
        font-size: 8px;
      }
    }
  }

  &__input_name {
    margin-bottom: 30px;
  }

  &__btn_container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    text-align: center;

    @include w-600 {
      margin-bottom: 10px;
      font-size: 10px;
    }
  }

  &__filters {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__input_size_container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    input {
      width: 110px;

      @include w-600 {
        width: 57px;
      }
    }
  }

  &__input_price_container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__bottom_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;

    & .filter__reset {
      border: none;
      opacity: 0.5;
    }
  }
}
