html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'sans-serif';
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F201C;
    opacity: 0.6;
  }

  .main_header,
  .category_header,
  .about_header {
    margin: 0 100px;
    padding: 17px 0 22px 0;
  }

  .main_header_link {
    color: white;
  }

  .category_header_link {
    color: white;
    text-decoration: none;
  }

  .about_header_link {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 1150px) {
    .header {
      display: block;
      text-align: center;
      margin: 0;
      opacity: 0.6;
    }
  }
