@import '../../shared/styles/variables.scss';

.header {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  padding: 7px 0;
  background-color: rgba(31, 32, 28, 0.6);

  &__content {
    display: flex;
    align-items: center;
    gap: 144px;

    @include w-1200 {
      gap: 90px;
    }

    @include w-1024 {
      gap: unset;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 13px;

    span {
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  &__navigation {
    display: flex;
    gap: 144px;
    align-items: center;

    @include w-1200 {
      gap: 90px;
    }

    @include w-1024 {
      gap: 30px;
    }
  }

  &__link {
    height: fit-content;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    opacity: 0.5;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: opacity 0.3s, border-color 0.2s;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      border-color: #ffffff;
    }
  }
}
