@import '../../shared/styles/variables.scss';

.header {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  padding: 7px 0;
  background-color: rgba(31, 32, 28, 0.9);

  @include w-1024 {
    padding: 18px 0;
  }
  
  @include w-600 {
    top: 7px;
    padding: 6px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 144px;

    @include w-1200 {
      gap: 90px;
    }

    @include w-1024 {
      gap: 75px;
    }

    @include w-600 {
      gap: unset;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 14px;

    @include w-1024 {
      gap: 7px;
    }

    &_img_wrapper {
      position: relative;
      padding-right: 14px;

      @include w-1024 {
        padding-right: 7px;

        img {
          width: 24px;
          height: 24px;
        }
      }

      @include w-600 {
        img {
          width: 36px;
          height: 36px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #ffffff;
      }
    }

    span {
      font-size: 23px;
      line-height: 100%;
      font-weight: 800;
      text-transform: uppercase;

      @include w-1024 {
        font-size: 12px;
      }

      @include w-600 {
        font-size: 23px;
      }
    }
  }

  &__navigation {
    display: flex;
    gap: 144px;
    align-items: center;

    @include w-1200 {
      gap: 90px;
    }

    @include w-1024 {
      gap: 75px;
    }

    @include w-800 {
      gap: 50px;
    }

    @include w-600 {
      display: none;
    }
  }

  &__link {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    opacity: 0.9;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: opacity 0.3s, border-color 0.2s;

    @include w-1024 {
      font-size: 14px;
      font-weight: 400;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      border-color: #ffffff;
    }

    &_burger {
      width: fit-content;
      font-size: 20px;
      opacity: 0.5;
      border-bottom: 2px solid;
      border-color: transparent;
      transition: opacity 0.3s, border-color 0.2s;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        border-color: #ffffff;
      }
    }
  }

  &__burger {
    display: none;
    font-size: 0;
    color: transparent;
    width: 24px;
    height: 24px;

    @include w-600 {
      display: block;
    }
  }

  &__menu {
    background-color: #112205;
    opacity: 0.8;

    &_content {
      display: flex;
      flex-direction: column;
      gap: 45px;
    }
  }
}
