@import '../../../../shared/styles/variables.scss';

.offer {
  padding-bottom: 90px;
  background-color: #112205;
  text-align: center;

  @include w-1024 {
    padding-top: 40px;
    padding-bottom: 101px;
  }

  @include w-600 {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 28px;
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;

    @include w-1024 {
      margin-bottom: 25px;
    }

    @include w-600 {
      margin-bottom: 15px;
      font-size: 32px;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 100%;

    @include w-1024 {
      margin-bottom: 40px;
    }

    @include w-600 {
      margin-bottom: 30px;
      font-size: 16px;
    }
  }

  &__points {
    padding: 50px 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    column-gap: 30px;
    row-gap: 100px;
    border-radius: 24px;
    border: 1px solid #FFF;

    @include w-1024 {
      padding: 40px 48px;
      grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
      column-gap: 20px;
      row-gap: 40px;
    }

    @include w-600 {
      padding: 0;
      justify-content: center;
      grid-template-columns: 1fr;
      row-gap: 30px;
      border: none;
    }
  }
}